{
  "type": "service_account",
  "projectId": "your-project-id-here",
  "privateKeyId": "your-private-key-id",
  "privateKey": "your-private-key",
  "clientEmail": "your-client-email",
  "clientId": "your-client-id",
  "authUri": "https://accounts.google.com/o/oauth2/auth",
  "tokenUri": "https://oauth2.googleapis.com/token",
  "authProviderX509CertUrl": "https://www.googleapis.com/oauth2/v1/certs",
  "clientX509CertUrl": "https://www.googleapis.com/robot/v1/metadata/x509/your-client-email",
  "universeDomain": "googleapis.com",
  "databaseURL": "https://your-project-id-default-rtdb.asia-southeast1.firebasedatabase.app"
}
